.profile {
  padding: 10rem;
  section {
    h1 {
      font-size: 35rem;
    }
    p {
      font-size: 20rem;
      margin-bottom: 20rem;
      line-height: 29rem;
    }
  }

  @include respond-to("small") {
    display: flex;
    img {
      margin-right: 20rem;
    }
    p {
      font-size: 18rem;
    }
  }
}
